.px_sign_up {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    
    .px_title {
        font-size: 27px;
        font-weight: 600;
        color: color(px_black);
        margin-bottom: 30px;
        line-height: 1.3;
    }

    .px_form {

        .px_form_wrapper {

            .px_input_wrapper {
                margin-bottom: 25px;

                &:nth-last-of-type(1) {
                    margin-bottom: 0;
                }

                &:nth-last-of-type(2) {
                    margin-bottom: 0;
                }

                .px_input_wrap {

                    .input_container {
                        position: relative;
                        border: 1px solid color(px_gray);
                        border-radius: 6px;
                        height: 40px;
                        background: color(px_white);

                        &:focus-within {
                            border: 1px solid color(px_brand_blue);
                        }

                        .floating_label {
                            position: absolute;
                            top: -9px;
                            left: 12px;
                            background: rgba($color: color(px_gray_bg), $alpha: 1);
                            padding: 0 3px;
                            font-size: 13px;
                            color: color(px_brand_blue);
                            font-weight: 400;

                            .required {
                                color: color(error);
                            }
                        }

                        .px_input {
                            width: 100%;
                            height: 100%;
                            border: none;
                            outline: none;
                            font-size: 14px;
                            background: transparent;
                            padding: 0 15px;
                            border-radius: 8px;

                            &::placeholder {
                                color: color(px_placeholder);
                            }
                        }
                    }

                    .error_msg {
                        color: color(error);
                        margin-top: 5px;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                .px_radio_group {
                    margin-top: 15px;

                    .radio_label {
                        font-size: 13px;
                        color: color(px_black);
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 10px;

                        .required {
                            color: color(error);
                        }
                    }

                    .radio {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        margin-right: 20px;
                        display: inline-flex;
                        cursor: pointer;
                        font-size: 14px;
                        color: color(px_black);

                        input {
                            display: none;
                        }

                        span {
                            width: 22px;
                            height: 22px;
                            border-radius: 50%;
                            border: 1px solid color(px_gray);
                            display: inline-block;
                            position: relative;
                        }

                        input:checked+span {
                            border-color: color(px_brand_blue);
                        }

                        input:checked+span::after {
                            content: "";
                            width: 12px;
                            height: 12px;
                            background: color(px_brand_blue);
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }

        .px_create_btn {
            width: 100%;
            height: 46px;
            text-align: center;
            background-color: color(px_brand_blue);
            color: color(px_white);
            font-size: 16px;
            font-weight: 500;
            border-radius: 6px;
            cursor: pointer;
            margin-top: 75px;

            &.px_disabled {
                background: color(px_gray);
                color: color(px_white);
                cursor: not-allowed;
            }
        }

        .px_login_btn {
            width: 100%;
            height: 46px;
            text-align: center;
            background-color: color(px_brand_blue_light);
            color: color(px_black);
            font-size: 16px;
            font-weight: 500;
            border-radius: 6px;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}