.px_profile {

    .px_title {
        font-size: 18px;
        color: color(px_black);
        line-height: 1.3;
        padding: 20px 15px;
        background-color: color(px_white);
    }

    .px_bottom_content {
        padding: 20px;
        border-bottom: 1px dashed color(px_gray);

        .px_profile_bottom {
            display: flex;
            align-items: center;
            gap: 25px;
            padding: 20px 0;

            .px_profile_img_container {
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .px_camera_wrapper {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    align-items: center;

                    .px_camera_svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .px_profile_details {

                .px_profile_name {
                    font-size: 15px;
                    font-weight: 600;
                    color: color(px_black);
                    margin-bottom: 5px;
                    line-height: 1.3;
                }

                .px_profile_email {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba($color: color(px_black), $alpha: 1);
                    margin-bottom: 5px;
                    line-height: 1.3;
                }
            }
        }

        .px_profile_bio {
            font-size: 14px;
            font-weight: 400;
            color: rgba($color: color(px_black), $alpha: 1);
            text-transform: capitalize;
            line-height: 1.3;
        }
    }
}