.px_welcome {
   width: 100%;
   height: 100svh;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 40px 20px;

   .px_title {
      font-size: 27px;
      font-weight: 600;
      color: color(px_black);
      margin-bottom: 10px;
   }

   .px_text {
      max-width: 250px;
      font-size: 18px;
      line-height: 1.3;
      font-weight: 400;
      color: rgba($color: color(px_black), $alpha: 0.6);
   }

   .px_create_btn {
      width: 100%;
      height: 46px;
      text-align: center;
      background-color: color(px_brand_blue);
      color: color(px_white);
      font-size: 16px;
      font-weight: 500;
      margin-top: 25px;
      margin-bottom: 10px;
      border-radius: 6px;
      cursor: pointer;
   }

   .px_login_btn {
      width: 100%;
      height: 46px;
      text-align: center;
      background-color: color(px_brand_blue_light);
      color: color(px_black);
      font-size: 16px;
      font-weight: 500;
      border-radius: 6px;
      cursor: pointer;
   }
}